<!DOCTYPE html>
<html>
<head>
  <title>ForumMonster</title>
  <%= stylesheet_link_tag    "forum_monster/application" %>
  <%= javascript_include_tag "forum_monster/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
